
<!-- este componente es para la parte visual o el cuerpo de la pagina -->
<!--<!DOCTYPE html>
<html>
    
<head></head>

<body>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-spinner></mat-spinner>
<h1>funciona</h1>
<p></p>
<h2>estoy cansado</h2>
<input type="checkbox" [checked]="casado">

<h2>datos adicionales: {{asDatos}} {{asDatos.edad}} {{asDatos.palabra}} </h2>
<h3>mis amigos son:</h3>
<p>{{amigos}}</p>
<ul *ngFor="let item of amigos"> <h1>lista completa</h1>
    <li ><h3>//item de cada uno de los componentes</h3>
    mi amigo se llama:{{item.nombre}} y su edad es : {{item.edad}}</li>
</ul>
</body>

</html>
-->
<app-navbar></app-navbar>
<app-header></app-header>
<app-footer></app-footer>
<router-outlet></router-outlet>